#tariflar{
    margin-top: 237px;
            position: relative;
            .uzcards{           
                .humo{
                    width: 1400px;
                    height: 422px;
                    padding: 58px 89px;
                    border-radius: 30px;
                    background: #2323FB;

                    h3{
                        color: #FFF;
                        font-family: Poppins;
                        font-size: 32px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                    }
                }
                .ulanish{
                    position: relative;
                    top: -324px;
                    width: 1162;
                    height: 164px;
                    padding: 58px 89px;
                    border-radius: 30px;
                    background: #009EFF;


                    h3{
                        color: #FFF;
                        font-family: Poppins;
                        font-size: 32px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                    }
                }

                .qollash{
                    position: relative;
                    top: -370px;
                    width: 1281px;
                    height: 422px;
                    padding: 58px 89px;
                    border-radius: 30px;
                    background: #0303CB;

                    h3{
                        color: #FFF;
                        font-family: Poppins;
                        font-size: 32px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                    }


                        p{
                            margin-top: 10px;
                            color: #FFF;
                            width: 530px;
                            font-family: Gilroy-Medium;
                            font-size: 17px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 22px;
                        }


                        img{
                            width: 200px;
                            padding: 120px;
                            padding-left: 0;
                        }


                }
            }
}