#news3 {
    .news3__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 20px;
        padding-bottom: 200px;
        &--card {
            width: 446px;
            border-radius: 10px;
            border: 2px solid rgba(203, 203, 235, 0.45);
            background: rgba(255, 255, 255, 0.60);
            backdrop-filter: blur(150px);
            img {
                margin-bottom: 12px;
            }
            h3 {
                color: #00008C;
                font-family: Poppins;
                font-size: 20px;
                font-weight: 700;
                line-height: 125%;
                padding-left: 40px;
                padding-right: 50px;
                padding-bottom: 12px;
            }
            span {
                color: rgba(0, 0, 140, 0.56);
                font-family: Poppins;
                font-size: 12px;
                font-weight: 500;
                line-height: 125%;
                padding-bottom: 60px;
            }
            p {
                color: #86889F;
                font-family: Poppins;
                font-size: 14px;
                font-weight: 500;
                line-height: 20px;
                padding-left: 40px;
                padding-right: 50px;
                padding-bottom: 45px;
            }
            .news3-data-card {
                margin-bottom: 25px;
                margin-left: 312px;
            }
            .news3-link {
                margin-bottom: 60px;
            }
            a {
                text-decoration: none;
                color: #fff;
                background-color: #007ECC;
                padding: 10px 24px;
                margin-left: 40px;
                margin-bottom: 61px;
                border-radius: 56px;
            }
        }
        .news3__bottom--logo {
            width: 115px;
            height: 115px;
            background-color: #007ECC;
        }
    }
}