#page7__section3{
    width: 100%;
    padding-bottom: 359px;

    .page7__section3--card{
          h1{
            color: #00004D;
            font-family: Poppins;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: 125%;
          }
          p{
            color: #00008C;
            font-family: Poppins;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 125%; 
            margin-bottom: 30px;
          }
    }
}